@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
img {
  margin: 0;
  padding: 0;
}

h4,
h5,
h6,
p,
li {
  line-height: 25px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #797166;

}

section {
  width: 100%;
}

p,
li {
  font-size: 1.2rem;
}

li {
  margin: 5px 0;
}

/* All content in <main> and <footer> contained inside this class */
.content_container {
  width: 90%;
  max-width: 650px;
  margin: auto;
}

.link_color {
  color: #c56c76;
}

.headline_color {
  color: #5c626a;
}


/********** Hero Image Section **********/

.hero {
  width: 100%;
  height: 60vh;
  background: url('images/background.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  /*fix for centering on IE */
  flex-direction: column-reverse;
}

/* container logo image and <p> tag for date */
.logo_bar {
  width: 95%;
  margin: auto;
  text-align: center;
}

.logo_bar img {
  display: block;
  width: 90%;
  max-width: 700px;
  margin: auto;
}

.logo_bar p {
  font-size: 125%;
  color: #efe9e0;
}

/********* Introduction Container **********/

/* Introduction <section> */
.intro_container {
  margin-bottom: 20px;
}

.intro_container h1,
.intro_container h3,
.intro_container ul  {
  padding: 15px 0;
}

.intro_container ul {
  list-style: square;
  list-style-position: inside;
}

/* Class that holds ad for conference */
.card {
  background-color: #f5f3f0;
  border: 2px solid #ddd;
}

.card_insert {
  width: 90%;
}

.card,
.card_insert {
  margin: 15px auto;
}


/********** Advertisement Section **********/

/* Container for <section> offering free content */
.ad_container {
  background-color: #51525a;
  text-align: center;
  color: #efe9e0;

}

.ad_text_container {
  padding: 30px 0;

}

/********** Speaker Section **********/

.speaker_container,
.speaker_text {
  padding-bottom: 15px;
}

/* Container for individual speaker cards */
.speaker_card {
  width: 100%;
  margin-bottom: 20px;
  -webkit-box-shadow: -1px 1px 5px 3px rgba(220,220,220,0.75);
            box-shadow: -1px 1px 5px 3px rgba(220,220,220,0.75);
}

/* Container for image and subject name inside speaker_card */
.speaker_image_name,
/* Container for text content inside speaker_card */
.speaker_text {
  width: 90%;
  margin: auto;
}

.speaker_image_name,
.speaker_container h2,
.speaker_image_name div {
  text-align: center;
  padding: 15px 0;
}

.speaker_container h2 {
  margin: 25px auto;
}

.speaker_image_name img {
  border-radius: 5px;
  display: block;
  width: 75%;
  min-width: 75%;
  margin: auto;
}

/********** Footer *********/

footer {
  background-color: #51525a;
}

/* Container for all content inside <footer> */
.footer_content_container {
  width: 90%;
  padding: 25px 0;
  border-top: 1px solid  #99999e;
}

.footer_content_container,
.footer_content_container img {
  margin: auto;
}

.footer_content_container p {
  line-height: normal;
}

.footer_content_container p:nth-child(2),
.footer_content_container p:nth-child(1) {
  margin-bottom: 10px;
}

.footer_content_container img {
  display: block;
  width: 240px;
}

.footer_content_container p:nth-child(1) {
  color: #ccccd1;
  font-size: .9rem;
}

.footer_content_container p:nth-child(2) {
  color: #99999e;
  font-size: .7rem;
}

/********** Media Queries **********/
/**********               **********/



@media only screen and (min-width: 550px) {

  /********** Speaker Section **********/

  /* reverses order of speaker_card content when display:flex */
  .row_reverse {
    flex-direction: row-reverse;
  }


  .speaker_card {
    display: flex;
  }


  .speaker_image_name {
    width: 40%;
    margin: auto;
  }

  .speaker_text {
    padding: 15px 15px 15px;
    width: 55%;
  }

  .speaker_image_name,
  .speaker_container h2,
  .speaker_image_name div {
    text-align: center;
    padding: 15px 0;
  }

  .speaker_image_name img {
    border-radius: 5px;
    display: block;
    width: 50%;
    margin: auto;
    min-width: 50%;
  }


}

@media only screen and (min-width: 650px) {

  .speaker_card {
    width: 90%;
  }

/* used to float every second speaker_card to the right */
  .row_reverse {
    float: right;
  }

  .card {
    clear: right;
  }

  .footer_flex_container {
    display: flex;
    justify-content: space-between;
  }

  .footer_flex_container p {
    flex: 0 0 45%;
  }

}
